@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ruda&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heading+Now:wght@100&display=swap');

main h2 {
    font-family: 'heading-now', sans-serif !important;
  }
h3{
    /*font-family: 'Ruda', sans-serif;
    font-family: 'Staatliches', sans-serif;*/
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 3rem;
    font-size: 3.75rem;
}
main .w-full ul{
    width: 100%;
    margin-top: 2rem;
    display: inline-block;
}
main .w-full ul li{
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;

}

@keyframes moveRight {
    0% { transform: translateX(-2000px); }
    100% { transform: translateX(40px); }
}
.element {
    animation: moveRight 1.5s linear  ;
}
ul li a {
    display: block;
    animation: moveRight 1.5s linear;
  }

@media (max-width: 1024px) {
    main .w-full ul li a{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 920px) {
    main .w-full ul{
        display: inline-grid;
    }
}

@media (max-width: 820px) {
    main .w-full ul{
        width: 90%;
        display: inline-grid;
    }
}
@media (max-width: 600px) {
    h2{
        font-size: 1.8rem !important;
    }
    h3{
        font-size: 3rem;
    }
}
@media (max-width: 500px) {
    main .w-full ul{
        margin-left: 0;
    }
    h2{
        font-size: 1.8rem !important;
    }
    h3{
        font-size: 2rem;
    }
}
@media (max-width: 400px) {
    main div h3{
        font-size: 2rem ;
        margin-top: 1rem;
    }
    main .w-full ul li{
        font-size: 1rem;
    }
}
@media (max-width: 300px) {
    main .w-full ul{
        width: 100%;
    }
    main .w-full ul li{
        font-size: 1rem;
    }
    main .w-full ul li a{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    h3{
        font-size: 1.5rem;
        margin-top: 0;
    }
    h2{
        padding-top: 0;
    }
}
