@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ruda&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heading+Now:wght@100&display=swap');

main h1,h2,h3,h4,h5,h6{
    float: left !important;
}
main h2 {
    font-family: 'heading-now', sans-serif !important;
    font-size: 4rem;
    height: 400px;
}
main h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.75rem ;
    margin-bottom: 4rem;
}
main div button{
    font-family: 'Source Serif Pro', sans-serif;
    margin-top: 2rem;                     
    border: 1px solid #fff;
    color: #fff;
    font-size: 3rem;
    padding: 1rem 2rem;
     box-shadow: 0px -1px #fff;
}

main img{
    width: 400px;
    height: 350px;
    top: -310px;
    left: 130px;
    position: relative;
}

@keyframes moveRight {
    0% { transform: translateX(-2000px); }
    100% { transform: translateX(40px); }
}

main button,h3 {
    animation: moveRight 1.5s linear;
}

  
@media (max-height: 800px) {
    main h2 {
        height: 150px;
        font-size: 2rem;
    }
    main h3{
        font-size: 3rem;
    }
    main img{
        width: 200px;
        height: 150px;
        top: -149px;
        left: 70px;
    }
}

@media (max-width: 600px) {
    main h2{
        font-size: 2rem;
    }
    main h3{
        font-size: 3rem;
    }
    main div button{
        margin-top: 2rem;                     
        font-size: 2rem;
    }
}
@media (max-width: 500px) {
    main h2{
        font-size: 3rem ;
        height: 200px;
    }
    main h3{
        font-size: 3rem;
    }
    main div button{
        margin-top: 1.5rem;                     
        font-size: 2rem;
        padding: 1rem 0.5rem
    }
    main img{
        top: -200px;
        left: 90px;
        width: 220px;
        height: 230px;
    }
}
@media (max-width: 400px) {
    main div h2 {
        height: 150px;
    }
    main div h3{
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 3rem
    }
    main div a{
        font-size: 2rem;
    }
    main div button{
        margin-top: 1.5rem;                     
        font-size: 2rem;
        padding: 1rem 0.5rem
    }
}
@media (max-width: 300px) {
    main h2{
        padding-top: 0;
        font-size: 2rem;
    }
    main img{
        top: -200px;
        left: 90px;
        width: 150px;
        height: 230px;
    }
    main div h3{
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 2rem
    }

    main div button{
        margin-top: 1.5rem;                     
        font-size: 1.5rem;
        padding: 0.5rem
    }
}



