@media (max-width: 412px) {
    header a h1{
        font-size: 2.5rem !important;
    }
}
@media (max-width: 360px) {
    header a h1{
        font-size: 2rem !important;
    }
}
@media (max-width: 500px) {
    header a h1{
        font-size: 1.9rem !important;
    }
}