/*@import url(https://db.onlinewebfonts.com/c/541506a62fe3206aa37b6db532a9b3c6?family=Cheque+Regular);*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&family=Staatliches&display=swap');
*{
  font-family: 'Fira Sans Condensed', sans-serif;
}
body {
  margin: 0;
  font-family: "Cheque Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}
#root{
  background-color: #000;
}
